<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collect enrollment and password</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Register Here</h1>
      <form action="/register" method="POST">
        <input
          class="input"
          type="text"
          name="enrollment"
          placeholder="Enrollment"
        />
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Password"
        />
        <input class="input" type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
