<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to your account</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <input
          class="input"
          type="text"
          name="enrollment"
          placeholder="Enrollment"
          value="<%=locals.enrollment%>"
        />
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Password"
        />
        <div class="notification">
          <p>Don't have an account ?</p>
          <a href="/register"> Register Here! </a>
          <div class="error">
            <p><%=locals.error%></p>
          </div>
        </div>
        <input class="input" type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
