<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Here</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      <form action="/register" method="POST">
        <input class="input" type="text" name="name" placeholder="Full Name" />
        <input
          class="input"
          type="number"
          name="enrollment"
          placeholder="Enrollment"
          minlength="12"
          maxlength="12"
        />
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Password"
        />
        <div class="notification">
          <p>Already have an account ?</p>
          <a href="/"> Login Here! </a>
          <div class="error">
            <p><%=locals.error%></p>
          </div>
        </div>
        <input class="input" type="submit" value="Register" />
      </form>
    </div>
  </body>
</html>
